# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# gradle
build
.gradle
out
classes

# other
eclipse
run
runs
run-data
*.ini
repo

# Files from Forge MDK
forge*changelog.txt
